.btn-light{
    display: inline-block; 
    margin: 30px 0;   
}

.fa-arrow-left{
   padding: 0 10px;
   display: flex;
   align-items: center;
   gap: 10px;
}
.country{
    padding: 30px 50px;
}
article{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    justify-content: space-between;
}
.data-block{
    margin-top: 100px;
}

.main-details{
    margin: 30px 0;
}
.main-details h2{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h5{
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0;
}
h5 span{
    font-weight: 300;
}
.bottom-details{
    margin-bottom: 30px;
}

h3{
    font-weight: 600;
}
ul{
    display: flex;
    list-style-type: none  
}
.border-li{
    margin: 10px;
    background-color: var(--article-color);
    padding: 3px 20px;
    border-radius: 3px;
    box-shadow: 0 5px 20px hsl(200, 15%, 8%, .5);
}
.border-li.light-theme{
    background-color: #fff;
    color: var(--light-mode-text);
}

@media (min-width: 992px){
    .btn-light{
        margin: 10px 0 0 100px;
    }

    .grid article{
        margin: 10px 20px 0 20px;
    }

    .country article{
        height: 600px;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        gap: 200px;
        margin: 30px 100px 0 100px;
    }

    .flag img{
        min-height: 600px;
        width: 800px;
    }
    .main-details{
        margin: 0 0 30px 0;
    }
    .data-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 100px 0;
    }
    h2{
        font-size: 42px;
        margin-bottom: 60px;
    }
    h3{
        margin-right: 20px;
    }
    .country-inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .country-details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 150px;
    }
    .borders{
        margin: 100px 0;
        display: flex;
        align-items: center;
    }
}